/* .videos{
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8%;
}
.video-styles{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width: 30%;
  height: 80vh;
} */